@(id: Long, formId: String, pageForm: Form[bean.Page])

@import helper._

@id match {
    case 0 => {
        <form id="@formId-form" onsubmit="admin.pageCreateFormSubmit(this);return false;">
    }
    case _ => {
        <form id="@formId-form" onsubmit="admin.pageUpdateFormSubmit(this, '@id');return false;">
    }
}

    <input type="hidden" name="id" value="@id" />

    @inputText(
        field = pageForm("name"),
        args = '_label -> "What's the Page name?", 'placeholder -> "name"
    )

    @select(
        field = pageForm("category"),
        dao.CategoryDao.findAll().map{ c =>
            c.id.toString -> c.name
        },
        args = '_label -> "Category", '_showConstraints -> false
    )

    @inputText(
        field = pageForm("permanentLink"),
        args = '_label -> "Permanent link", 'placeholder -> "the_link_of_my_page", '_showConstraints -> false
    )

    @inputText(
        field = pageForm("rank"),
        args = '_label -> "rank", 'placeholder -> "5", '_showConstraints -> false
    )

    @checkbox(
        field = pageForm("enabled"),
        args = '_label -> "Enable the page", 'placeholder -> "enabled", '_showConstraints -> false
    )

    @textarea(
        field = pageForm("data"),
        args = 'id -> formId.concat("-data"), '_label -> "data", 'rows -> 6, 'cols -> "80", '_showConstraints -> false, 'class -> "richtext_panel"
    )

    <input id="pagePreviewUpdate" type="button" value="preview" onclick="admin.popupPagePreview('@formId-data');"/>
</form>