@(pages: Seq[bean.Page])

<div id="admin-list-page">
    <ul class="no-bullet">
        @for(page <- pages) {
        <li>
            <button
                    id="admin-list-page-edit-@page.id"
                    onclick="admin.pageOpenUpdateDialog('@page.id');">
                EDIT
            </button>

            <button
                    onclick="admin.deletePage('@routes.Admin.deletePage(page.id)', '@page.name')">
                DELETE</button>

            @page.name <small>(@page.categoryName, enabled= @page.enabled, rank= @page.rank)</small>
        </li>
        }
    </ul>
</div>