@(user: Option[bean.User], userPanel: Html, categoryPanel: Html, pagePanel: Html, categories: Seq[bean.Category])

@import helper._

@main("Admin page", user, categories) {

    <script type="text/javascript">
        $(function() {
            $( "#admin-tabs" ).tabs();
        });
        fillCurrentUsers();
    </script>

    <div id="admin-tabs">
        <ul>
            <li><a href="#tabs-1">User</a></li>
            <li><a href="#tabs-2">Category</a></li>
            <li><a href="#tabs-3">Page</a></li>
        </ul>
        <div id="tabs-1">
            @userPanel
        </div>
        <div id="tabs-2">
            @categoryPanel
        </div>
        <div id="tabs-3">
            @pagePanel
        </div>
    </div>
}
