@(user: Option[bean.User], userPanel: Html, categoryPanel: Html, pagePanel: Html)

@import helper._

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ang-admin.js")"></script>
}

@main("Admin page", user, scripts) {

    <div id="admin-tabs">

        <tabset>
            <tab heading="Angular">
                <div ng-controller="AdminUserCtrl">
                    <br>
                    <div>
                        <button type="button" class="btn btn-sm btn-info glyphicon glyphicon-plus" ng-click="creationIsClosed = !creationIsClosed" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"></button>
                        <span class="bold">{{users.length}} users</span>
                        <br><br>

                        <div collapse="creationIsClosed">
                            <form>
                                <input type="hidden" ng-model="user.id" value="0">

                                <dl class=" ">
                                    <dd><input type="text" ng-model="user.login" value="" placeholder="login" required></dd>
                                </dl>

                                <dl class=" ">
                                    <dd><input type="password" ng-model="user.password" size="10" placeholder="xxxxxx" required></dd>
                                </dl>

                                <dl class=" " >
                                    <dd>
                                        <select name="profile" ng-model="user.profile" >
                                            <option value="User">User</option>
                                            <option value="Admin">Admin</option>
                                        </select>
                                    </dd>
                                </dl>

                                <dl class=" " >
                                    <button type="button" class="btn btn-sm btn-info" ng-click="createUser(user)">Create this user</button>
                                </dl>
                            </form>
                        </div>

                        <ul class="no-bullet" ng-repeat="editingUser in users">
                            <li>
                                <button type="button" class="btn btn-sm btn-info glyphicon glyphicon-pencil" ng-click="editUserToggle(editingUser)" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"></button>
                                <button type="button" class="btn btn-sm btn-danger glyphicon glyphicon-trash" ng-click="deleteUser(editingUser.id, editingUser.login)"></button>
                                {{editingUser.login}} <span class="bold small text-info">({{editingUser.profile}})</span>

                                <div collapse="!editUserIsToggled(editingUser)">
                                    <br>
                                    <form>
                                        <input type="hidden" ng-model="editingUser.id" ng-value="editingUser.id">

                                        <dl class=" ">
                                            <dd><input type="text" ng-model="editingUser.login" ng-value="editingUser.login" placeholder="login" required></dd>
                                        </dl>

                                        <dl class=" ">
                                            <dd><input type="password" ng-model="editingUser.password" ng-value="editingUser.password" size="10" placeholder="xxxxxx" required></dd>
                                        </dl>

                                        <dl class=" " >
                                            <dd>
                                                <select name="profile" ng-model="editingUser.profile" ng-value="editingUser.profile" >
                                                    <option value="User">User</option>
                                                    <option value="Admin">Admin</option>
                                                </select>
                                            </dd>
                                        </dl>


                                        <div ng-hide="editUserErrorsIsEmpty(editingUser)"><div class="alert alert-danger">
                                            <div ng-repeat="(name, errors) in editUserErrors(editingUser)">
                                                <div ng-repeat="error in errors">
                                                    <span class="label label-danger">{{name}}</span> {{error}}
                                                </div>
                                            </div>
                                        </div></div>

                                        <dl class=" " >
                                            <button type="button" class="btn btn-sm btn-info" ng-click="updateUser(editingUser)">Apply changes</button>
                                        </dl>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
}
