@(user: Option[bean.User], userPanel: Html, categoryPanel: Html, pagePanel: Html)

@import helper._

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jwysiwyg/jquery.wysiwyg.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jwysiwyg/controls/wysiwyg.colorpicker.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jwysiwyg/controls/wysiwyg.cssWrap.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jwysiwyg/controls/wysiwyg.image.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jwysiwyg/controls/wysiwyg.link.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jwysiwyg/controls/wysiwyg.table.js")"></script>

    <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/jwysiwyg/jquery.wysiwyg.css")" />
}

@main("Admin page", user, scripts) {

    <script type="text/javascript">
        $(function() {
            $( "#admin-tabs" ).tabs();
        });
        admin.fillCurrentUsers();
    </script>

    <div id="admin-tabs">
        <ul>
            <li><a href="#tabs-1">User</a></li>
            <li><a href="#tabs-2">Category</a></li>
            <li><a href="#tabs-3">Page</a></li>
        </ul>
        <div id="tabs-1">
            @userPanel
        </div>
        <div id="tabs-2">
            @categoryPanel
        </div>
        <div id="tabs-3">
            @pagePanel
        </div>
    </div>
}
