@(userForm: Form[bean.User])

@import helper._

@form(action = routes.Admin.createUser, args = 'id -> "userForm-form") {

    @inputText(
        field = userForm("login"),
        args = '_label -> "What's the user name?", 'placeholder -> "username"
    )

    @inputPassword(
        field = userForm("password"),
        args = '_label -> "pwd", 'size -> 10, 'placeholder -> "xxxxxx", '_showConstraints -> false
    )

    @select(
        field = userForm("profile"),
        options = options(
            "User" -> "User",
            "Admin" -> "Admin"
        ),
        args = '_label -> "Profile", '_showConstraints -> false
    )
}