html, body {height: 100%;}
body {
    color: #404040;
	font-family: 'RosarioRegular', Verdana, Helvetica, sans-serif;
	font-size:0.9em;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
	background: url("../images/background.jpg") repeat top left transparent;
}
a {color:#404040;}
/*Opera Fix
body:before {/* thanks to Maleika (Kohoutec)
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float
}*/

.page-content {
	float:left;
	width: 70%;
	min-height: 550px;
	padding:10px;
}
.page-content-menu {
	float:left;
	width: 25%;
}
.page-content-menu-tab {
	clear: both;
	float:left;
}
.view_page_content {
	text-align: justify;
}
.view_page_slideshows {
	float:left;
	width: 100%;
}
.view_page_slideshow {
	width: 60%;
  margin-left: auto ;
  margin-right: auto ;
}

.view_page_slideshow div {
  margin-left: auto ;
  margin-right: auto ;
}
.photo-icon {
	width: 40px;
	height: 35px;
}

.page-list-item {
	clear:both;
	float:left;
}
.page-list-item-link {
	
}
.page-list-item-action-remove {
	text-decoration:none;
	font-weight:bold;
	color: red;
}
.page-horizontal-menu {
    font-size: 1.2em;
    padding-top: 5px;  
    padding-left: 15px;
}
.page-horizontal-menu a {
    float: left;
    padding-left: 5px;
}
.home-section {
	margin: 0 auto;
	width: 492px;
	color: black;
}
.home-block-top {
    background: url("../images/home/header_news.png") no-repeat left top transparent;
	height: 362px;
}
.home-block-center {
	background-color: #EEE;
	margin-left: 5px;
	width: 453px;
	padding: 0 15px;
}
.home-block-bottom {
	background: url("../images/home/footer_news.png") no-repeat top left transparent;
    height:54px;
}
.home-block-content {
	padding: 60px 20px 20px 20px;
}
.home-block-header {
	border: 0px solid black;
	padding-bottom: 5px;
	padding-right: 10px;
}
.news-item-container {
	border: 1px solid gray;
	font-size: 1.6em;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 10px;
}
.news-item-header {
}
.news-item-header-left {
    border-right: 1px solid black;
    text-align: center;
    padding: 5px 10px 0px 10px;
    width: 60px;
}
.news-item-header-right {
    padding: 5px 0px 0px 20px;
}
.news-item-body {
	font-size: 12px;
	border-top: 1px dashed black;
    padding-top: 10px;
    margin-top: 10px;
}
.news-item-body-content {
	width: 290px;
}
.news-item-body-title {
	font-size: 16px;
}
.news-item-body-data {
	font-size: 12px;
	font-weight: normal;
	text-align: justify;
}
.news-item-body-link > a {
	color: #980000;
}
.news-item-body-avatar {
	margin-top: 20px;
}
.clear {clear:both}