@(users: Seq[bean.User])


<div id="admin-list-user">
    <ul>
        @for(user <- users) {
            @defining(bean.User.asUpdateFormId(user)) { formId =>
               <li>
                   <div class="hidden">
                       @views.html.admin.user.userUpdateForm(bean.UserForm.update(user), user.login)
                   </div>
                   <button onclick="$('#@formId').dialog({
                        close: function( event, ui ) {
                            fillCurrentUsers();
                        }
                   });">EDIT</button>
                   @user.login <small>(@user.profile)</small>
               </li>
           }
        }
    </ul>
</div>