@(formAction: play.api.mvc.Call, formId: String, userForm: Form[bean.User])

@import helper._

@form(action = formAction, args = 'id -> (formId + "-form")) {

    @userForm.value match {
        case Some(user) => {
            <input type="hidden" name="entityId" value="@userForm.get.login" xmlns="http://www.w3.org/1999/html"/>
        }
        case _ => {
            <input type="hidden" name="entityId" value="" />
        }
    }

    @inputText(
        field = userForm("login"),
        args = '_label -> "What's the user name?", 'placeholder -> "username"
    )

    @inputPassword(
        field = userForm("password"),
        args = '_label -> "pwd", 'size -> 10, 'placeholder -> "xxxxxx"
    )

    @select(
        field = userForm("profile"),
        options = options(
            "User" -> "User",
            "Admin" -> "Admin"
        ),
        args = '_label -> "Profile", '_showConstraints -> false
    )

    <p class="buttons">
        <button id="@formId-submit" type="submit">
            <span class="ui-button-text"></span>
        </button>
    </p>

    <script type="text/javascript">
        @userForm.value match {
            case Some(user) => {
                $("#@formId-submit span").text("Update");
                $("#@formId-form").submit(function() {
                    alert($(this).serialize());
                    updateUser("@routes.Admin.updateUser(user.login)", $(this), "@formId");
                    return false;
                });
            }
            case _ => {
                $('#@formId-submit span').text('Create');
                $('#@formId-form').submit(function() {
                    alert($(this).serialize());
                    createUser('@routes.Admin.createUser', $(this), '@formId');
                    return false;
                });
            }
        }
    </script>
}