@(isUpdate: Boolean, id: Long, formId: String, userForm: Form[bean.User])

@import helper._

<form id="@formId-form">

    @isUpdate match {
        case true => {
            <input type="hidden" name="id" value="@id" />
        }
        case false => {
            <input type="hidden" name="id" value="0" />
        }
    }

    @userForm.value match {
        case Some(user) => {
            @inputText(
                field = userForm("login"),
                args = '_label -> "What's the user name?", 'placeholder -> "username", 'id -> formId.concat("-form-login"), 'readonly -> "true"
            )
        }
        case _ => {
            @inputText(
                field = userForm("login"),
                args = '_label -> "What's the user name?", 'placeholder -> "username", 'id -> formId.concat("-form-login")
            )
        }
    }

    @inputPassword(
        field = userForm("password"),
        args = '_label -> "pwd", 'size -> 10, 'placeholder -> "xxxxxx", 'id -> formId.concat("-form-password")
    )

    @select(
        field = userForm("profile"),
        options = options(
            "User" -> "User",
            "Admin" -> "Admin"
        ),
        args = '_label -> "Profile", '_showConstraints -> false, 'id -> formId.concat("-form-profile")
    )

    <p class="buttons">
        <button id="@formId-submit" type="submit">
            <span class="ui-button-text"></span>
        </button>
    </p>

    <script type="text/javascript">
        @isUpdate match {
            case true => {
                admin.updateUserSubmitButton('@routes.Admin.updateUser(id)', '@formId');
            }
            case false => {
                admin.createUserSubmitButton('@routes.Admin.createUser', '@formId');
            }
        }
    </script>
</form>