@(users: Seq[bean.User])

<ul>
    @for(user <- users) {
        @defining("admin-update-user-" + user.login) { updateUserId =>
           <li>
               <div class="hidden"><div id="@updateUserId" title="Update user: @user.login">
                   @views.html.admin.user.userForm(bean.UserForm.update(user), Option.apply(user))
               </div></div>
               <button onclick="$('#@updateUserId').dialog();">EDIT</button>
               @user.login <small>(@user.profile)</small>
           </li>
       }
    }
</ul>