<div ng-controller="AdminUserCtrl">
    <br>
    <button type="button" class="btn btn-sm btn-info glyphicon glyphicon-plus" ng-click="creationIsClosed = !creationIsClosed" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"></button>
    <span class="bold">{{users.length}} users</span>
    <br><br>

    <div collapse="creationIsClosed">
        <form class="form-horizontal form-collapse" role="form" ng-submit="createUser(user)">

            <input type="hidden" ng-model="user.id" value="0">

            <div class="form-group form-medium">
                <label class="col-sm-1 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" ng-model="user.email" value="" placeholder="email@@domain.org" required>
                </div>
            </div>

            <div class="form-group form-medium">
                <label class="col-sm-1 control-label">Login</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="user.login" value="" placeholder="login" required>
                </div>
            </div>

            <div class="form-group form-medium">
                <label class="col-sm-1 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" ng-model="user.password" placeholder="xxxxxx" required>
                </div>
            </div>

            <div class="form-group form-medium">
                <label class="col-sm-1 control-label">Profile</label>
                <div class="col-sm-10">
                    <select class="form-control" name="profile" ng-model="user.profile" >
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
            </div>

            <div ng-hide="createUserErrorsIsEmpty()"><div class="alert alert-danger">
                <div ng-repeat="(name, errors) in createUserErrors()">
                    <div ng-repeat="error in errors">
                        <span class="label label-danger">{{name}}</span> {{error}}
                    </div>
                </div>
            </div></div>

            <div class="form-group">
                <div class="col-sm-1">&nbsp;</div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-sm btn-info">Create this user</button>
                </div>
            </div>
        </form>
    </div>

    <ul class="no-bullet" ng-repeat="editingUser in users">
        <li>
            <button type="button" class="btn btn-sm btn-info glyphicon glyphicon-pencil" ng-click="editUserToggle(editingUser)" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"></button>
            <button type="button" class="btn btn-sm btn-danger glyphicon glyphicon-trash" ng-click="deleteUser(editingUser.id, editingUser.login)"></button>
            {{editingUser.login}} <span class="bold small text-info">({{editingUser.profile}})</span> <a href="mailto:{{editingUser.email}}">[{{editingUser.email}}]</a>

            <div collapse="!editUserIsToggled(editingUser)">
                <br>
                <form class="form-horizontal form-collapse" role="form" ng-submit="updateUser(editingUser)">
                    <input type="hidden" ng-model="editingUser.id" ng-value="editingUser.id">

                    <div class="form-group form-medium">
                        <label class="col-sm-1 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" ng-model="editingUser.email" value="" placeholder="email@@domain.org" required>
                        </div>
                    </div>

                    <div class="form-group form-medium">
                        <label class="col-sm-1 control-label">Login</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="editingUser.login" value="" placeholder="login" required>
                        </div>
                    </div>

                    <div class="form-group form-medium">
                        <label class="col-sm-1 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="pull-left form-control" ng-model="editingUser.password" ng-value="editingUser.password" size="10" placeholder="xxxxxx" ng-disabled="!editPassword">&nbsp;
                            <button type="button" ng-click="editPassword = !editPassword" class="btn btn-md btn-info glyphicon glyphicon-pencil" ></button>
                        </div>
                    </div>

                    <div class="form-group form-medium">
                        <label class="col-sm-1 control-label">Profile</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="profile" ng-model="editingUser.profile" >
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                    </div>

                    <div ng-hide="editUserErrorsIsEmpty(editingUser)"><div class="alert alert-danger">
                        <div ng-repeat="(name, errors) in editUserErrors(editingUser)">
                            <div ng-repeat="error in errors">
                                <span class="label label-danger">{{name}}</span> {{error}}
                            </div>
                        </div>
                    </div></div>

                    <div class="form-group">
                        <div class="col-sm-1">&nbsp;</div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-sm btn-info">Apply changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>