@(users: Seq[bean.User])


<div id="admin-list-user">
    <ul>
        @for(user <- users) {
            @defining(bean.User.asUpdateFormId(user)) { formId =>
               <li>
                   <div class="hidden">
                       @views.html.admin.user.userUpdateForm(bean.UserForm.update(user), user.id)
                   </div>
                   <button
                       id="admin-list-user-edit-@user.login"
                       onclick="admin.updateUserDialogButton('admin-list-user-edit-@user.login', '@formId');">
                           EDIT
                   </button>

                   <button onclick="admin.deleteUser('@routes.Admin.deleteUser(user.id)', '@user.login')">DELETE</button>
                   @user.login <small>(@user.profile)</small>
               </li>
           }
        }
    </ul>
</div>