@(categories: Seq[bean.Category])

<div id="admin-list-category">
    <ul class="no-bullet">
        @for(category <- categories) {
            <li>
                <button
                    id="admin-list-category-edit-@category.id"
                    onclick="admin.categoryOpenUpdateDialog('@category.id');">
                        EDIT
                </button>

                <button
                    onclick="admin.deleteCategory('@routes.Admin.deleteCategory(category.id)', '@category.name')">
                        DELETE</button>

                @category.name <small>(id: @category.id, enabled: @category.enabled)</small>
            </li>
        }
    </ul>
</div>