<div id="banner">
    <div class="pull-left margin-left-medium">
        <a id="bannerLeft" href="@routes.Application.index">
            <img src="@routes.Assets.at("images/asso-machete.png")" alt="MACHETE!"></img>
        </a>
    </div>
    <div class="pull-right margin-right-medium">
        <div id="bannerRight">
            <div id="carousel">
                <div id="slides" class="pull-right shadow-right">
                    <ul style="left: -500px;">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div id="buttons" class="pull-right">
                    <a id="prev" href="#">prev</a>
                    <a id="next" href="#">next</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
        <hr>
    </div>
</div>