@(content: Html)

<div id="bodyColumn" class="content">
    <div id="contentBox">
        <div class="section">
            <div class="home-section">
                <div class="home-block-top pull-left full-width">
                    <div class="home-block-content">content !!!!!!!!!!!!!!!</div>
                </div>
                <div class="home-block-center pull-left">
                    <div class="home-block-news">@content</div>
                </div>
                <div class="home-block-bottom pull-left full-width"> </div>
            </div>
        </div>
    </div>
</div>