@(user: Option[bean.User], categories: Seq[bean.Category])

<div id="breadcrumbs">
    <ul class="topnav">
        <ul class="topnav">
            <li>
                <a href="@routes.Application.index">ACCUEIL</a>
            </li>
            @for(category <- categories) {
            <li>
                <a>@category.name</a>
                <ul class="subnav">
                    @category.pages.map { page =>
                        <li><a href="/page/@page.permanentLink">@page.name</a></li>
                    }
                </ul>
            </li>
            }
        </ul>
    </ul>
    <ul class="topnav pull-right">
        @views.html.loginPanel(user)
        <li>
            <a href="http://www.facebook.com/pages/Association-Machete/121181741251107">
                <img class="icon" src="@routes.Assets.at("images/facebook.png")" />
            </a>
        </li>
    </ul>
</div>