@(user: Option[bean.User], helloForm: Form[(String)], greetingPanel: Html, categories: Seq[bean.Category])

@import helper._

@main("Association Machete", user, categories) {

    <!--@play20.welcome("message")-->

    @form(action = routes.Application.sayHello, args = 'id -> "helloform") {

        @inputText(
            field = helloForm("name"),
            args = '_label -> "What's your name?", 'placeholder -> "World"
        )

        <p class="buttons">
            <input type="submit" id="submit" value="Classic form action" />
        </p>
    }

    @greetingPanel

}
