@(helloForm: Form[(String)], greetingPanel: Html, message: String)

@import helper._

@main("Welcome to Play 2.1") {

    <!--@play20.welcome(message)-->

    <h1>Hey ! @message</h1>

    @form(action = routes.Application.sayHello, args = 'id -> "helloform") {

        @inputText(
            field = helloForm("name"),
            args = '_label -> "What's your name?", 'placeholder -> "World"
        )

        <p class="buttons">
            <input type="submit" id="submit" value="Classic form action" />
        </p>
    }

    @greetingPanel

}
