@(user: Option[bean.User], loginForm: Form[bean.Credentials])

@import helper._

@main("Accueil", user) {
    @form(action = routes.Application.authenticate, args = 'id -> "loginform") {

        @inputText(
            field = loginForm("email"),
            args = '_label -> "What's your email?", 'placeholder -> "Login", '_showConstraints -> false
        )
        @inputPassword(
            field = loginForm("password"),
            args = '_label -> "What's your password?", 'size -> 10, 'placeholder -> "xxxxxx", '_showConstraints -> false
        )

        <p class="buttons">
            <input type="submit" id="submit" value="Login" />
        </p>
    }
}
