@(title: String, user: Option[bean.User], scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>

        <meta name="author" content="Hilaire Thomas" />
        <meta name="robots" content="all" />

        <script src="https://www.google.com/jsapi?key=ABQIAAAA8bCVXNx3wJu9Tsb1ogWnPBSCRev8DqEXxtwVfKHDYNYvOS8sABTy1MNXLruufFGcM-vqHJaF72zP8Q" type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[

            //google.load("search", "1");
            //google.load("jquery", "1.8.3");
            //google.load("jqueryui", "1.10.3");

            function OnLoad() {
            /*
            // Create a search control
            var searchControl = new google.search.SearchControl();

            // Add in a full set of searchers
            var localSearch = new google.search.LocalSearch();
            searchControl.addSearcher(localSearch);
            searchControl.addSearcher(new google.search.WebSearch());
            searchControl.addSearcher(new google.search.VideoSearch());
            searchControl.addSearcher(new google.search.BlogSearch());

            // Set the Local Search center point

            localSearch.setCenterPoint("New York, NY");

            // Tell the searcher to draw itself and tell it where to attach
            searchControl.draw(document.getElementById("searchcontrol"));

            // Execute an inital search
            searchControl.execute("Google");
            */
            }
            google.setOnLoadCallback(OnLoad);

            //]]>

            // Analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33703146-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->

        <!-- ANGULAR -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-route.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/dialog_confirm.js")"></script>

        <!-- ANGULAR UI-->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.11.0.min.js")"></script>

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

        <!-- include CSS always before including js -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/site.css")" />
        <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/specific.css")" />
        <!--<link rel="stylesheet" media="screen" href="http://code.jquery.com/ui/1.10.3/themes/start/jquery-ui.css" />-->

        <!-- include own scripts-->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/global.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/admin.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/imageSlider.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/body.js")"></script>

        <!-- include breadcrumbs -->
        <link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/breadcrumbs.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/breadcrumbs.js")"></script>

        <!-- more scripts from sub pages -->
        @scripts

        <base href="/" />
    </head>
    <body>
        <div id="pageAppEl" class="container-fluid no-padding shadow-left  texture-paper">
            @views.html.breadcrumbs(user)
            @views.html.banner()
            @views.html.bodyColumn(content)
        </div>


        <footer class="footer shadow-left">
            <div class="pull-left">
                <span class="page-footer-item">Anne Hengy - Conte</span>
            </div>
            <div class="clear">
                <hr>
            </div>
            <div class="pull-left">
                <span class="page-footer-item">N° tél : xx xx xx xx xx</span>
            </div>
            <div class="clear">
                <hr>
            </div>
        </footer>

    </body>
</html>
