@(title: String, user: Option[bean.User])(content: Html)

<!DOCTYPE html>

<html>
    <head>


    <head>
        <title> @title <!--{ % block title % }Association Machete{ % endblock % }--></title>

        <meta name="google-site-verification" content="hGCNEn2AMIJ6CSutywv2bORBsW2au127a0gFi0gjJDY" />
        <meta name="keywords" content="Soirée, Machete, Musique, Jeune, Privas, Veyras, Ardèche, electro, concert, Oh My Dub, Step On The Beat, Surprise Jack, Session, Veyras'Oai, Musique actuelle, Culture, Spectacle, Théâtre, Association, Scène, Reggae, Rap, Hip Hop, Rock" />
        <meta name="description" content="Vouée à la diffusion culturelle dans les domaines du théâtre, des arts plastiques et plus particulièrement des musiques actuelles, elle propose des événements d'une grande diversité, défendant des spectacles qu'elle considère de qualité, fidèle à des valeurs d’éclectisme et d’accessibilité tarifaire."/>
        <meta name="author" content="Hilaire Thomas">
        <meta name="copyright" content="Hilaire Thomas">
        <meta name="expires" content="30 July 2015">
        <meta name="robots" content="all">

        <script src="https://www.google.com/jsapi?key=ABQIAAAA8bCVXNx3wJu9Tsb1ogWnPBSCRev8DqEXxtwVfKHDYNYvOS8sABTy1MNXLruufFGcM-vqHJaF72zP8Q" type="text/javascript"></script>
        <script language="Javascript" type="text/javascript">
            //<![CDATA[

            //google.load("search", "1");
            google.load("jquery", "1.9.1");
            google.load("jqueryui", "1.9.2");

            function OnLoad() {
            /*
            // Create a search control
            var searchControl = new google.search.SearchControl();

            // Add in a full set of searchers
            var localSearch = new google.search.LocalSearch();
            searchControl.addSearcher(localSearch);
            searchControl.addSearcher(new google.search.WebSearch());
            searchControl.addSearcher(new google.search.VideoSearch());
            searchControl.addSearcher(new google.search.BlogSearch());

            // Set the Local Search center point
            localSearch.setCenterPoint("New York, NY");

            // Tell the searcher to draw itself and tell it where to attach
            searchControl.draw(document.getElementById("searchcontrol"));

            // Execute an inital search
            searchControl.execute("Google");
            */
            }
            google.setOnLoadCallback(OnLoad);

            //]]>

            // Analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33703146-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

        <!-- include CSS always before including js -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/site.css")" />
        <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/specific.css")" />

        <!-- include own scripts-->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/imageSlider.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/global.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tools.min.js")"></script>

        <!-- include dropdown plugin -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/dropdown.js")"></script>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/dropdown.css")"></link>

    </head>
    <body>

        <!--
        <header>
            <a href="@routes.Application.index">@title</a>
            @if(user.isEmpty) {
                <a href="@routes.Application.login">Login</a>
            } else {
                <dl id="user">
                    <dt>@user.get.login <span>(@user.get.profile)</span></dt>
                    <dd>
                        <a href="@routes.Application.logout()">Logout</a>
                    </dd>
                </dl>
            }
        </header>
        -->

        <div class="container-fluid shadow-left">
            <div id="banner">
                <div class="pull-left margin-left-medium">
                    <a id="bannerLeft" href="/">
                        <img src="@routes.Assets.at("images/asso-machete.png")" alt="MACHETE!"></img>
                    </a>
                </div>
                <div class="pull-right margin-right-medium">
                    <div id="bannerRight">
                        <div id="carousel">
                            <div id="slides" class="pull-right shadow-right">
                                <ul style="left: -500px;">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div id="buttons" class="pull-right">
                                <a id="prev" href="#">prev</a>
                                <a id="next" href="#">next</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear">
                    <hr>
                </div>
            </div>
            <div id="breadcrumbs">
                <ul class="topnav">
                    <ul class="topnav">
                        <li>
                            <a href="/">ACCUEIL</a>
                        </li>
                        <li>
                            <a>PROGRAMMATION</a>
                            <ul class="subnav">
                                <li>
                                    <a href="/machete/page/45001/">27 AVRIL</a>
                                </li>
                                <li>
                                    <a href="/machete/page/44001/">SAISON 2012</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                        </li>
                    </ul>
                </ul>
                <ul class="topnav pull-right">
                    <li>
                        <a href="http://www.facebook.com/pages/Association-Machete/121181741251107">
                            <img class="icon" src="@routes.Assets.at("images/facebook.png")" />
                        </a>
                    </li>
                </ul>
            </div>
            <div id="bodyColumn" class="content">
                <div id="contentBox">
                    <div class="section">
                        <div class="home-section">
                            <div class="home-block-top pull-left full-width">
                                <div class="home-block-content">content !!!!!!!!!!!!!!!</div>
                            </div>
                            <div class="home-block-center pull-left">
                                <div class="home-block-news">@content</div>
                            </div>
                            <div class="home-block-bottom pull-left full-width"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer shadow-left">
            <div class="pull-left">
                <span class="page-footer-item">© Association Machete</span>
            </div>
            <div class="clear">
                <hr>
            </div>
            <div class="pull-left">
                <span class="page-footer-item">N° Siret : 535 180 491 00024</span>
            </div>
            <div class="clear">
                <hr>
            </div>
            <div class="pull-left">
                <span class="page-footer-item">N° Waldec : w072001349</span>
            </div>
            <div class="clear">
                <hr>
            </div>
            <div class="pull-left">
                <span class="page-footer-item">Association à but non lucratif à Privas (07)</span>
            </div>
            <div class="clear">
                <hr>
            </div>
        </footer>

    </body>
</html>
