@(title: String, user: Option[bean.User], scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>

        <meta name="author" content="Hilaire Thomas" />
        <meta name="robots" content="all" />

        <script src="https://www.google.com/jsapi?key=ABQIAAAA8bCVXNx3wJu9Tsb1ogWnPBSCRev8DqEXxtwVfKHDYNYvOS8sABTy1MNXLruufFGcM-vqHJaF72zP8Q" type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[

            //google.load("search", "1");
            //google.load("jquery", "1.8.3");
            //google.load("jqueryui", "1.10.3");

            function OnLoad() {
            /*
            // Create a search control
            var searchControl = new google.search.SearchControl();

            // Add in a full set of searchers
            var localSearch = new google.search.LocalSearch();
            searchControl.addSearcher(localSearch);
            searchControl.addSearcher(new google.search.WebSearch());
            searchControl.addSearcher(new google.search.VideoSearch());
            searchControl.addSearcher(new google.search.BlogSearch());

            // Set the Local Search center point
            localSearch.setCenterPoint("New York, NY");

            // Tell the searcher to draw itself and tell it where to attach
            searchControl.draw(document.getElementById("searchcontrol"));

            // Execute an inital search
            searchControl.execute("Google");
            */
            }
            google.setOnLoadCallback(OnLoad);

            //]]>

            // Analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33703146-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

        <!-- include CSS always before including js -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/site.css")" />
        <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link type="text/css" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/specific.css")" />
        <link rel="stylesheet" media="screen" href="http://code.jquery.com/ui/1.10.3/themes/start/jquery-ui.css" />

        <!-- include own scripts-->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/admin.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/imageSlider.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/global.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tools.min.js")"></script>

        <!-- include dropdown plugin -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/dropdown.js")"></script>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/dropdown.css")">

        <!-- more scripts from sub pages -->
        @scripts
    </head>
    <body>
        <div class="container-fluid shadow-left">
            @views.html.banner()
            @views.html.breadcrumbs(user)
            @views.html.bodyColumn(content)
        </div>

        <footer class="footer shadow-left">
            <div class="pull-left">
                <span class="page-footer-item">Anne Hengy - Conte</span>
            </div>
            <div class="clear">
                <hr>
            </div>
            <div class="pull-left">
                <span class="page-footer-item">N° tél : xx xx xx xx xx</span>
            </div>
            <div class="clear">
                <hr>
            </div>
        </footer>

    </body>
</html>
